
<%= link_to elem_path, {query: elem.name} do %>
  <div class="general-card mb-3">
    <div class="general-image">
      <%= cl_image_tag elem.image.key, width: 300, height: 200, crop: :fit, :class => ""%>
    </div>
    <div class="general-info">
      <h1> <%= elem.name %></h1>
      <p><strong>Description:</strong><%= elem.description %></p>
    </div>
  </div>
<% end %>
